/vendor
/composer.lock
/.phpunit.cache
.DS_Store

# https://stackoverflow.com/a/16318111
/tools/*
!/tools/ecs/composer.json
!/tools/ecs/ecs.php
!/tools/rector/composer.json
!/tools/rector/rector.php
!/tools/psalm/composer.json
!/tools/psalm/psalm.xml
