/vendor
/composer.lock
/.idea
/.phpunit.cache

# https://stackoverflow.com/a/16318111
/tools/*
!/tools/ecs
/tools/ecs/*
!/tools/ecs/composer.json
!/tools/ecs/ecs.php
!/tools/rector
/tools/rector/*
!/tools/rector/composer.json
!/tools/rector/rector.php
